body{
    background-image: url("beige-aged-background.jpg"); color: black;
    background-repeat: no-repeat;
    
}

.contenedor{
    display: flex;
    justify-content: end;
    }

.imagen-1{
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 100px;
    }


.title{
    color:brown;
    margin-left:0px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
   
    }

.encabezado{
        background-color: rgba(255, 228, 196, 40%);
        background-attachment: fixed;
        background-size: 100% 100%;
        padding: 1%;
        border-left: 0%;
        border-right: 0%;
        border-top: 0%;
        width:1310px;
        text-align: center;
    }
    

.nombre{
    color: black;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;

    }

.titulos{
    color: brown;
    width: 60%;
    margin-left: 1px;
    margin-right: 1px;
    font-family: 'Roboto Slab', serif;
    position: relative;
    left: 250px;
    right: 40px
}

.lista{  
    border: 0px;
    color: black;
    width: 60%;
    margin-left: 1px;
    font-family: 'Comic Neue', cursive;
    position: relative;
    left: 100px;
    right: 40px;
}


.lineas{
    color: blue; 
    font-family: Arial, Helvetica, sans-serif;

      
}

.contenedor_boton{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-block-end: 1%;

}


.boton_ocultar{
    color: brown;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border-radius: 20px;
    border: ridge;
    margin-left: 100px;
    margin-top: 0px;
    padding: 15px;
    background-color:antiquewhite;
    justify-content: right;

}


.boton_mostrar{
    color: brown;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border-radius: 20px;
    border: ridge;
    display: flex;
    margin-left: 300px;
    margin-top: 0px;
    padding: 15px;
    background-color: antiquewhite;
    justify-content: right;
  }