body{
    background-image: url("beige-aged-background.jpg"); color: black;
    background-repeat: no-repeat;
    
}

.contenedor{
    display: flex;
    justify-content: end;
    }

.imagen-1{
    width: 150px;
    height: 150px;
    }


.title{
    color:brown;
    margin-left:0px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
   
    }

.encabezado{
        padding: 0px;
        width:1310px;
        height: 100 px;
        text-align: justify;
    }
    

.nombre{
    color: black;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;

    }

.titulos{
    color: brown;
    width: 60%;
    margin-left: 1px;
    margin-right: 1px;
    font-family: 'Roboto Slab', serif;
    position: relative;
    left: 250px;
    right: 40px
}

.lista{  
    color: black;
    width: 60%;
    margin-left: 1px;
    font-family: 'Comic Neue', cursive;
    position: relative;
    left: 100px;
    right: 40px;
}


.lineas{
    color: blue        
      
}

.boton_estilo{
    display: flex;
    margin-left: 600px;
    padding: 10px;
    border: 0;
    background-color: aqua;
    justify-content: right;
    color: black;

}


.boton_mostrar{
    display: flex;
    margin: auto;
    justify-content: right;
    padding: 10px;
    color: blanchedalmond;

}