.contenedor{
    display: flex;
    justify-content: end;
}

.imagen-1{
    width: 150px;
    height: 150px;
}


.title{
    color:brown;
    margin-left:0px;
    width: 100%;
    background: #ffc554;
    text-align: center;
    }

.nombre{
    color: black;
    font-weight: bold;

}

.titulos{
    color: blue;
    width: 60%;
    margin-left: 1px;
    margin-right: 1px;
    border: 2px solid blueviolet;
    background-color: burlywood;
}

.textos{  
color: black;
    width: 60%;
    margin-left: 1px;
    border: 4px solid rgb(250, 10, 10);
    background-color: aqua;
}

.body{
border: 5px solid rgb(34, 228, 43);
padding: 5px;
width:1310px;
height: 100 px;
text-align: justify;
background-color: beige;
}

.lineas{
    color: red
}



